# JWT settings
JWT_SECRET=school system secret key

# Database settings
DB_HOST=mysql.railway.internal
DB_PORT=3306
DB_USER=root
DB_PASS=sdSparCQMbwgdGJzcLkhGnSnblzRtjxw
DB_NAME=school_system

# SMTP settings for password reset emails
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
SMTP_FROM="no-reply@school-system.com"
